//NET "clk" LOC = "C9" | TNM_NET = sys_clk_pin;
//TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

//NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVCMOS33 ;


//NET "rst_n" LOC = "L3" | IOSTANDARD = SSTL2_I ;
NET "rst_n" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;

NET "key1" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;NET "key1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "key2" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;NET "key2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "key4" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;NET "key4" CLOCK_DEDICATED_ROUTE = FALSE;
NET "key3" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;NET "key3" CLOCK_DEDICATED_ROUTE = FALSE;


NET "vga_out_r"  LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_out_g"  LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_out_b"  LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_out_vs" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_out_hs" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

